<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="text-center">Sobre Nosotros

    ComicsLocuras es tu tienda de confianza para cómics, mangas y novelas gráficas. Ofrecemos una selección única y un espacio donde los fans pueden conectar y disfrutar. ¡Únete a nuestra pasión por los cómics!</p>
  <img src="assets/img/banner2.jpg" alt="ComicsLocuras Banner 2 " class="image-center">
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Nosotros</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
</ion-content>
