<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Pagina no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content class="not-found-content">
    <div class="container">
      <img src="https://th.bing.com/th/id/OIP.yYBFzWZ0R970KK2bJhwO9AHaEi?rs=1&pid=ImgDetMain" alt="Page Not Found" class="not-found-img">
      <h1 class="title">404</h1>
      <p class="subtitle">Oops! La pagina que quieres acceder no existe.</p>
      <ion-button expand="block" routerLink="/home">Volver al Inicio</ion-button>
    </div>
  </ion-content>    
</ion-content>


