<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">contacto</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<div class="contact-container">
  <h2 class="contact-title">¡Contáctanos!</h2>
  <p class="contact-description">Si tienes alguna pregunta o simplemente quieres decir "Hola", llena el siguiente formulario y nos pondremos en contacto contigo lo antes posible.</p>

  <ion-list>
    <ion-item>
      <ion-label position="floating">Nombre y Apellido</ion-label>
      <ion-input type="text" required placeholder="Ejemplo: Juan Pérez"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input type="email" required placeholder="Ejemplo: juan.perez@correo.com"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mensaje</ion-label>
      <ion-textarea rows="6" required placeholder="Escribe tu mensaje aquí..."></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-button expand="block" class="send-button">Enviar Mensaje</ion-button>

  <div class="location-info">
    <h3 class="location-title">Nuestra Ubicación</h3>
    <p class="location-description">Puedes visitarnos en nuestra tienda física en:Duoc Uc Plaza Norte,Santiago de Chile.</p>
  </div>
</div>